﻿
@{
    ViewBag.Title = "BlobUploadView";
    Layout = "~/Views/Shared/_BlobFileUploadLayout.cshtml";
}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var SelectedFileNames = [];
</script>
<style>

</style>
<div ng-app="app">
    <div class="col-sm-12">
        <div class="row">
            <div class="btn-group" data-toggle="buttons" data-effect="fall" style="margin-left: 44px;">
                <label class="btn btn-primary">
                    <input type="radio" name="options" checked><a href="#LocalToBlob" style="font-size:18px;text-decoration: none;color: white;">Local To Blob</a>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options"><a href="#BlobToBlob" style="font-size:18px;text-decoration: none;color: white;">Blob To Blob</a>
                </label>
            </div>
        </div>
        <ng-view></ng-view>
    </div>
</div>
