﻿@model BlobStorageClientUI.Models.BlobViewModel

@{
    ViewBag.Title = "BlobUploadView";
    Layout = "~/Views/Shared/_BlobFileUploadLayout.cshtml";
}
<script src="~/scripts/SelectionChanged.js"></script>
<script src="~/scripts/FileUploadController.js"></script>
<script src="~/scripts/BlobToBlobUpload.js"></script>
<script src="~/scripts/toastr.js"></script>
<link href="~/content/toastr.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        //==============ADDING AND REMOVING DYNAMIC FIELDS==============
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                $(wrapper).append("<div><h4>Destination</h4><div class='input-group' style='margin-top:10px'><span class='input-group-addon'>Account Key</span><input type='text' class='form-control' id='target_accountkey_" + x + "' value='' /></div><div class='input-group' style='margin-top:10px'><span class='input-group-addon'>Account Name</span><input type='text' id='target_accountname_" + x + "' class='form-control' value=''/></div><div class='input-group' style='margin-top:10px'><span class='input-group-addon'>Blob Container Name</span><input type='text' id='target_blobcontainer_" + x + "' class='form-control' value=''/></div><a href='#' class='remove_field'>Remove</a></div>");
                x++; //text box increment
            }
        });
        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });
</script>
<h4 style="margin-left:12px">BlobUploadView</h4>
<hr />

    <div class="form-horizontal">
       
        <div style="margin:5%">

            <div class="container" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="input-group">
                            <span class="input-group-addon " id="basic-addon3">Select</span>
                            <select class="form-control" onchange="OnSelectionchange()" id="SelectSourceTarget" name="color">
                                <option value="Redact_To_Blob">Upload file for verification to TeraDact API for Redaction</option>
                                <option value="Non_Blob">Upload Non-Redacted files</option>
                                <option value="Blob_To_Blob">Upload files from Blob To Blob</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>

