﻿.tablecustom{
    width:20% !important;
    margin-right: 20px !important;
}
.sourceBlob {

    float:left;
    margin-left:10px
}
.destinationBlob {
    float:left;
    margin-right:-50px
}

  #leftNavHeading{
    margin-top: 55px;
    background: #2e2c42;
    color: #c5c5c5;
    padding: 10px 0px;
    text-align: center;
  }
  #leftNavOptions {
    background-color: #fff;
    width: 20%;
    height: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
    overflow: auto;
    border-right: 2px solid #b1b1b1;
  }

  #leftNavOptions nav {
    background-color: #fff;
    margin: 35px 0px;
  }

  #leftNavOptions nav ul li {
    text-align: left;
    list-style: none;
    border-top: 1px solid #eee;
    height: 58px;
    padding-top: 15px;
  }

  .optionsBody {
    margin-top: 55px;
    float: right;
    width: 80%;
    min-height: 100%;
    position: relative;
  }

  #optionsBodyHeading{
    background: #2e2c42;
    color: #c5c5c5;
    padding: 12.3px 10px 10px 25px;
    position: fixed;
    width: 80%;
    z-index: 10;
  }

  #optionBodyClose{
    float: right;
    padding-right: 10px;
    font-size: 24px;
   
  }

  #menu-main {
    padding-left: 0;
  }

  #menu-main>li>a:focus {
    background-color: #009688;
    color: #fff;
  }
   #menu-main>li>a {
       padding-left: 50px;
       color: #000000;
   }

  #optionBodyBody{
    border: 2px solid #b1b1b1;
    margin: 20px;
    width: 96%;
  }
  .btn.btn-primary {
    background-color: #009688;
    border: 1px solid #00695f;
  }
  .btn.btn-primary.active {
    color: #fff;
    background-color: #555555;
  }
  #AddSettingsAccount {
    float: right;
    background: #009688;
    border: 0;
    color: white;
    margin-right: 20px;
  }
  .AdmininputFieldSize{
      height: 26px;
      width:100%;
      padding-left: 10px;
  }
  .table > thead > tr > th{
      background:#009688;
  }
  .table > tbody > tr:hover{
      background-color:lightgrey;
  }
  .btnclickpage{
      background:grey;
  }
  .nav-tabs > li > a{
      color:#fff;
  }
  .nav > li > a:focus, .nav > li > a:hover{
      color:black;
  }
  textarea.AdmininputFieldSizes {
    width: 100%;
}