﻿
<div id="optionsBodyHeading">
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-floppy-disk" ng-click="SubmitMyBlob(AccountKey,AccountName,BlobStorageContainerName)"></span> <span style="font-size: 18px;"> Save</span></span>-->
    <button id="sub" style="margin-top:10px" ng-click="SubmitMyActive(ApplicationID,RedirectURL,ClientID,ClientSecret,TenantID,TenantName,AuthString)" class="btn btn-primary">Save</button>
    &nbsp&nbsp
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-remove" style="font-size: 16px;"></span> <span style="font-size: 18px;"> Discard</span></span>-->
    <button id="dis" style="margin-top:10px" ng-click="Discard(ApplicationID,RedirectURL,ClientID,ClientSecret,TenantID,TenantName,AuthString)" class="btn btn-primary">Discard</button>
    <button id="dis" style="margin-top:10px;margin-left:11px" ng-click="ViewActive()" class="btn btn-primary">View</button>
    <!--<span id="optionBodyClose" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>-->
</div>
<div class="col-md-12" style="padding-left: 20px; padding-top: 20px; margin-top: 64px;">
    <h4 class="modal-title" style="font-weight: bolder">ActiveDirectory Settings</h4>
</div>
<div class="col-md-12" id="optionBodyBody">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-3"><h4>ApplicationID(optional)</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="ApplicationID" placeholder="Enter Application Name"></h6></div>
            <div class="col-md-3"><h4>RedirectURL(optional)</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="RedirectURL" placeholder="Enter RedirectURL "></h6></div>
            <div class="col-md-3"><h4>Client ID</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="ClientID" placeholder="Enter Clinet ID"></h6></div>
            <div class="col-md-3"><h4>Client Secret: </h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="ClientSecret" placeholder="Enter Client Secret Key"></h6></div>
            <div class="col-md-3"><h4>TenantID: </h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="TenantID" placeholder="Enter Tenant ID"></h6></div>
            <div class="col-md-3"><h4>TenantName: </h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="TenantName" placeholder="Enter TenantName"></h6></div>
            <div class="col-md-3"><h4>AuthString: </h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="AuthString" placeholder="Enter AuthString"></h6></div>

        </div>
    </div>
    <hr>

</div>
