﻿<h4 style="font-weight: bold;">Role Configuration Settings</h4>

<div>
    <div>
        <!--<uib-tab index="0" heading="Static title">Static content</uib-tab>-->
        <uib-tabset active="active">
            <!----Role Settings-->
            <uib-tab class="btn btn-primary" color="white" heading="Role Settings">
                <div class="row">
                    <div class="ng-scope">
                        <div class="col-md-1" style="padding-left:60px;margin-top:5px"><h5>Search....</h5></div>
                        <button id="dis" style="margin-top:10px;margin-left:11px" ng-click="GetRoleandGroups()" class="btn btn-primary">View</button>
                        <div class="col-md-6">
                            <h6>
                                <input class="AdmininputFieldSize" type="text" ng-model="searchText" placeholder="Enter Group Name">
                                <!--<button id="dis" style="margin-top:10px;margin-left:11px" ng-click="GroupNameSearch(GroupName)" class="btn btn-primary">Search</button>-->
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <table class="table table-striped table-responsive table-bordered">
                            <thead style="background: #c5c5c5">
                                <tr>
                                    <th style="width:auto">Exemptions</th>
                                    <th ng-repeat="item in GetRoleResponse">{{item}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, value) in Groupresponse | filter:searchText">
                                    <td>
                                        {{ value.GroupDetail.DisplayName }}
                                    </td>
                                    <td ng-repeat="(key, value) in value" ng-if="value.name">
                                        <input type="checkbox" ng-model="value.isChecked" ng-if="value.name" />
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-striped table-responsive col-md-2 tablecustom" ng-repeat="item in FinalList">
                            <thead style="background: #c5c5c5">
                                <tr>
                                    <th>{{item.Name}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item2 in item.rulesList">
                                    <td><input type="checkbox" ng-model="item2.checked" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clear-fix"></div>
                    </div>
                </div>
                <button id="sub" style="margin: 19px 17px 0;" value="GetSourceContainerFiless" ng-click="GroupsandNames(FinalList)" class="btn btn-primary">Save</button>

            </uib-tab>

            <!--Account Policy Settings-->
            <uib-tab class="btn btn-primary" color="white" heading="Account Directive Settings">
                <form ng-submit="AppendtoGrid()">
                    <table id="page">
                        <tr style="height:40px">
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Policy Name :
                            </td>
                            <td ng-model="GlobalObj.PolicyName">
                                {{GlobalObj.PolicyName}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:50px">
                                <select id="selectType" ng-model="GlobalObj.PolicyType" style="height:25px;width:100px">
                                    <option ng-repeat="sel in TDPolicies">{{sel}}</option>
                                </select>
                            </td>
                            <td>
                                <input class="AdmininputFieldSize" type="text" ng-model="GlobalObj.PolicyKey" placeholder="Enter Category Format">
                            </td>
                            <td>
                                <input class="AdmininputFieldSize" type="text" ng-model="GlobalObj.PolicyValue" placeholder="Enter category Value">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!--ng-click="AppendtoGrid(GlobalObj)"-->
                                <input type="submit" add-html style="margin: 19px 17px 0;" class="btn btn-primary" value="Add" />
                            </td>
                            <td>
                                <input type="button" id="subs" style="margin: 19px 17px 0;" value="Save" ng-click="SaveADirectives()" class="btn btn-primary" />
                            </td>
                            <td>
                                <input type="button" style="margin: 19px 17px 0;" class="btn btn-primary" ng-click="EnableGrid('1')" ng-hide="viewFlag" value="View" />
                            </td>
                            <td>
                                <input type="button" style="margin: 19px 17px 0;" class="btn btn-primary" ng-click="EnableGrid('0')" ng-hide="hideFlag" value="Hide" />
                            </td>
                        </tr>
                    </table>
                    <table class="table table-bordered" ng-hide="GetFlag">
                        <thead>
                            <tr>
                                <th>PolicyName</th>
                                <th>PolicyType</th>
                                <th>PolicyKey</th>
                                <th>PolicyValue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in GridPolicy" ng-click="onPolicyRowSelect(item)">
                                <td><label>{{item.PolicyName}}</label></td>
                                <td><label>{{item.PolicyType}}</label></td>
                                <td><label>{{item.PolicyKey}}</label></td>
                                <td><label>{{item.PolicyValue}}</label></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </uib-tab>
            <!--Rule Settings-->
            <uib-tab class="btn btn-primary" heading="Rule Settings">
                <div class="col-md-12" style="background: #d1e6e4; min-height: 150px;">
                    <table>
                        <tr>
                            <td>
                                <h4>Create a Rule Set</h4>
                            </td>
                        </tr>

                    </table>
                    <table>
                        <tr>

                            <td>
                                <uib-tabset active="active">

                                    <uib-tab class="btn btn-primary" color="white" heading="Enter Rule Set Content">
                                        <div class="col-md-12" style="margin-top: 10px;padding: 0;margin-left: 15px;width: 200%">
                                            <table>


                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class="btn btn-primary">RuleSet Name</label>

                                                        </td>
                                                        <td style="width:5%"></td>
                                                        <td>
                                                            <input style="width:80%" type="text" ng-model="manualObj.NewRuleSetName" class="AdmininputFieldSize" id="txtmFilename" />
                                                        </td>
                                                    </tr>
                                                    <tr style="height:10px">
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="btn btn-primary">
                                                                RuleSet Content
                                                            </label>
                                                        </td>
                                                        <td style="width:5%"></td>
                                                        <td>
                                                            <!--<input style="width:80%" type="text" ng-model="manualObj.TotalRLString" class="AdmininputFieldSize" id="txtmFileContent" />-->
                                                            <textarea class="AdmininputFieldSizes" style="width:300px;height:80px" ng-model="manualObj.TotalRLString"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr style="height:10px"><td></td></tr>
                                                    <tr>
                                                        <td align="right">
                                                            <button id="subs1" tyle="width:10%" value="" ng-click="SaveRuleSettings(manualObj)" class="btn btn-primary">Create Rule Set</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </uib-tab>

                                    <uib-tab class="btn btn-primary" color="white" heading="Upload File">
                                        <div ng-controller="myCtrl" class="col-md-12" style="margin-top: 10px;padding: 0;margin-left: 15px;width: 115%">
                                            <table>

                                                <tr>
                                                    <td>
                                                        <label class="btn btn-primary">RuleSet Name</label>

                                                    </td>
                                                    <td style="width:5%"></td>
                                                    <td>
                                                        <input style="width:80%" type="text" ng-model="filename" class="AdmininputFieldSize" id="txtFilename" />
                                                    </td>
                                                </tr>
                                                <tr style="height:10px">
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="btn btn-primary">
                                                            Select File
                                                        </label>
                                                    </td>
                                                    <td style="width:5%"></td>
                                                    <td>
                                                        <input style="width:80%" class="btn btn-primary" type="file" file-reader="fileContent" file-model="myFile" />
                                                    </td>
                                                </tr>
                                                <tr style="height:10px">
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td align="right">
                                                        <button id="subs" tyle="width:10%" value="" ng-click="SaveRuleSettings(null)" class="btn btn-primary">Upload</button>
                                                    </td>
                                                </tr>
                                            </table>

                                            <!--<input type="file"  file-model="myFile" />-->

                                        </div>
                                    </uib-tab>
                                </uib-tabset>

                            </td>


                        </tr>
                    </table>


                </div>
                <div style="height:40px"></div>
                <!--Grid content-->
                <div>
                    <table class="table table-bordered" border="0" style="width:36%">
                        <thead>
                            <tr>

                                <th>RuleSet Name</th>
                                <th width="300px">RuleSet Content</th>
                                <th style="color:white">Update </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Grid">

                                <td>
                                    <label ng-hide="true">{{item.NewRuleSetName}}</label>
                                    <input ng-model="item.RuleSetName">
                                </td>
                                <td>
                                    <textarea class="AdmininputFieldSizes" style="width:500px;height:100px" ng-model="item.TotalRLString"></textarea>
                                </td>
                                <td>
                                    <input type="button" value="Update RuleSet" ng-click="SaveRuleSettings(item)" />
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>



            </uib-tab>
            <!--Folder Settings-->
            <uib-tab heading="Folder Settings" class="btn btn-primary">
                <div ng-hide="true" ng-model="SpFLTRSpFLTRbaseURL">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 style="padding-left:20px">Source</h4>
                        <div class="col-md-12" style="margin-top: 20px;padding: 0;margin-left: 15px;">
                            <div>Sites</div>
                            <select id="my_saaelect" class="select-dropdown" ng-model="tempDropDownObj.selectedSPHostURL" ng-change="selectSitesforDocmentLibraryList(tempDropDownObj.selectedSPHostURL)" style="width: 60%; overflow: auto; padding: 10px;">
                                <option style="margin-bottom: 6px;" ng-repeat="item in GetSitesDropdownList" ng-selected="item.Selected">{{item}}</option>Sites
                            </select>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px;padding: 0;margin-left: 15px;">
                            <div>Document Library</div>
                            <select id="my_styelect" class="select-dropdown" ng-model="tempDropDownObj.SelectDocmentLibraryList" style="width: 60%; overflow: auto; padding: 10px;">
                                <option style="margin-bottom: 6px;" ng-repeat="item in DocmentLibraryList" ng-selected="item.Selected">{{item}}</option>Source
                            </select>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px;padding: 0;margin-left: 15px;">
                            <div>Folders</div>
                            <select id="my_sweelect" class="select-dropdown" ng-model="tempDropDownObj.selectedFolderNames" ng-click="GetFolderList(tempDropDownObj.selectedSPHostURL,tempDropDownObj.SelectDocmentLibraryList)" style="width: 60%; overflow: auto; padding: 10px;">
                                <option style="margin-bottom: 6px;" ng-repeat="item in GetFolderListList" ng-selected="item.Selected">{{item}}</option>Source
                            </select>
                        </div>
                        <!--<div class="col-md-12" style="margin-top: 20px;padding: 0;margin-left: 15px;">
                            <select id="my_select" class="select-dropdown" ng-model="GetRuleset" ng-click="GetListRuleSetsFromTDServer()" style="width: 60%;  overflow: auto; padding: 10px;">

                                <option style="margin-bottom: 6px;" ng-repeat="item in getListRuleSetsFromTDServerList" ng-selected="item.Selected">{{item.name}}</option>Source
                            </select>
                        </div>-->
                    </div>
                    <div class="col-md-6">
                        <h4 style="padding-left:20px">Target</h4>
                        <div class="col-md-12" style="margin-top: 20px;padding: 0;margin-left: 15px;">
                           
                            <div>Sites</div>
                            <select id="my_sesslect" class="select-dropdown" ng-model="tempDropDownObj.TargetselectedSPHostURL" ng-change="TargetselectSitesforDocmentLibraryList(tempDropDownObj.TargetselectedSPHostURL)" style="width: 60%; overflow: auto; padding: 10px;">
                                <option style="margin-bottom: 6px;" ng-repeat="item in GetSitesTargetDropdownList" ng-selected="item.Selected">{{item}}</option>Sites
                            </select>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px;padding: 0;margin-left: 15px;">
                            <div>Document Library</div>
                            <select id="my_selssect" class="select-dropdown" ng-model="tempDropDownObj.TargetSelectDocmentLibraryList" style="width: 60%; overflow: auto; padding: 10px;">
                                <option style="margin-bottom: 6px;" ng-repeat="item in TargetDocmentLibraryList" ng-selected="item.Selected">{{item}}</option>Source
                            </select>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px;padding: 0;margin-left: 15px;">
                            <div>Folders</div>
                            <select id="my_selesct" class="select-dropdown" ng-model="tempDropDownObj.TargetselectedFolderNames" ng-click="TagetGetFolderList(tempDropDownObj.TargetselectedSPHostURL,tempDropDownObj.TargetSelectDocmentLibraryList)" style="width: 60%; overflow: auto; padding: 10px;">
                                <option style="margin-bottom: 6px;" ng-repeat="item in TarGetFolderListList" ng-selected="item.Selected">{{item}}</option>Source
                            </select>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px;padding: 0;margin-left: 15px;">
                            <div>RuleSet</div>
                            <!--// --> <!--ng-selected="item.Selected"-->
                            <!--<div ng-repeat="item in getListRuleSetsFromTDServerList">
                                <div ng-dropdown-multiselect="" options="item.name" >{{item.name}}</div>
                            </div>-->
                            <!--<select id="my_selecssst" class="select-dropdown" ng-model="TargetRuleset" style="width:60%;  overflow: auto; padding: 10px;" multiple>
                                <option ng-selected="item.Selected" style="margin-bottom: 6px;" ng-repeat="item in getListRuleSetsFromTDServerList">{{item.name}}</option>Source
                            </select>-->
                            <div class="col-md-6" style="padding-left:0">
                                <!--<select id="ddlRuleSet" multiple="multiple" ng-model="TargetRuleset" class="multiselect"></select>-->
                                <div style="width:100%">
                                   
                                    <div ng-dropdown-multiselect="" options="example14data" selected-model="example14model" checkboxes="true" extra-settings="example14settings"></div>
                                </div>
                            </div>
                            <!--<select id="my_select" class="select-dropdown" multiple ng-model="selectedTargetAlias" style="width: 95%; overflow: auto; min-height: 150px; padding: 10px;">
                                <option ng-repeat="item in TargetAliasNames" ng-selected="item.Selected">{{item.AliasName}} </option>Target
                            </select>-->
                        </div>
                    </div>
                </div>
                <button id="dis" style="margin-top:10px;margin-left:11px" ng-click="getSPUnAttendedApplyRulesSettingsInfo()" class="btn btn-primary">View</button>
                <button id="dis" style="margin-top:10px;margin-left:11px" ng-click="saveSourceandTarget(tempDropDownObj.selectedSPHostURL,tempDropDownObj.SelectDocmentLibraryList,tempDropDownObj.selectedFolderNames,tempDropDownObj.TargetselectedSPHostURL,tempDropDownObj.TargetSelectDocmentLibraryList,tempDropDownObj.TargetselectedFolderNames,TargetRuleset)" class="btn btn-primary">Save</button>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SourceSiteURL</th>
                            <th>SourceDocLiBrary</th>
                            <th>SourceFolder</th>
                            <th>TargetSiteURL</th>
                            <th>TargetDocLiBrary</th>
                            <th>TargetFolder</th>
                            <th>RuleSet</th>
                            <th><label style="color:white">Remove</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in getFolderSettingsGrid" ng-click="onFolderDetailsRowSelect(item)">
                            <td><label>{{item.SourceSiteURL}}</label></td>
                            <td><label>{{item.SourceDocLib}}</label></td>
                            <td><label>{{item.SourceFolder}}</label></td>
                            <td><label>{{item.TargetSiteURL}}</label></td>
                            <td><label>{{item.TargetDocLib}}</label></td>
                            <td><label>{{item.TargetFolder}}</label></td>
                            <td><label>{{item.AppliedRuleSets}}</label></td>
                            <td><label><button id="dis" style="margin-top:10px;margin-left:11px" ng-click="DeleteFolder(item)" class="btn btn-primary">Delete</button></label></td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
