﻿
<div id="optionsBodyHeading">
    <button id="sub" style="margin-top:10px" ng-click="SubmitAzureSQL(Server,UserName, Password,DatabaseName)" class="btn btn-primary">Save</button>
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-floppy-disk" ng-click="SubmitMyExchange(EmailID, Password, Domain,EwsUrl,MailCount,Protocal)"></span> <span style="font-size: 18px;"> Save</span></span>-->
    &nbsp&nbsp
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-remove" style="font-size: 16px;"></span> <span style="font-size: 18px;"> Discard</span></span>-->
    <button id="dis" style="margin-top:10px" ng-click="Discard" class="btn btn-primary">Discard</button>
    <!--<span id="optionBodyClose" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>-->
</div>
<div class="col-md-12" style="padding-left: 20px; padding-top: 20px; margin-top: 64px;">
    <!--<button type="button" id="AddSettingsAccount">+ ADD</button>-->
    <h4 class="modal-title" style="font-weight: bolder">Azure SQL Settings</h4>
</div>
<div class="col-md-12" id="optionBodyBody">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">

            <div class="col-md-3"><h4>Server Address</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Server" placeholder="Please Enter Server Address"></h6></div>
            <div class="col-md-3"><h4>User Name</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="UserName" placeholder="Please Enter UserName"></h6></div>
            <div class="col-md-3"><h4>Password</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Password" placeholder="Please Enter Password"></h6></div>
            <div class="col-md-3"><h4>DatabaseName</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="DatabaseName" placeholder="Please Provide Database Name"></h6></div>
        </div>
    </div>
</div>


