﻿
<div id="optionsBodyHeading">
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-floppy-disk" ng-click="SubmitMyBlob(AccountKey,AccountName,BlobStorageContainerName)"></span> <span style="font-size: 18px;"> Save</span></span>-->
    <button id="sub" style="margin-top:10px" ng-click="SubmitMyBlob(AliasName,AccountKey,AccountName,BlobType,Domain,Protocol)" class="btn btn-primary">Save</button>
    &nbsp&nbsp
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-remove" style="font-size: 16px;"></span> <span style="font-size: 18px;"> Discard</span></span>-->
    <button id="dis" style="margin-top:10px" ng-click="Discard(AliasName,AccountKey,AccountName,BlobType,Domain,Protocol)" class="btn btn-primary">Discard</button>
   
    <button id="dis" style="margin-top:10px;margin-left:11px" ng-click="ViewBlobSettings()" class="btn btn-primary">View</button>
     <!--<span id="optionBodyClose" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>-->
</div>
<div class="col-md-12" style="padding-left: 20px; padding-top: 20px; margin-top: 64px;">
    <h4 class="modal-title" style="font-weight: bolder">Blob Storage Settings</h4>
</div>
<div class="col-md-12" id="optionBodyBody">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-3"><h4>Account Type</h4></div>
            <div class="col-md-8"><h6><input type="radio" ng-model="BlobType" value="Source" name="BlobTypeName" checked> <span style="font-size: 17px;">Source</span> &nbsp; <input type="radio" ng-model="BlobType" value="Target" name="BlobTypeName"> <span style="font-size: 17px;">Target</span></h6></div>
             <!--<div class="col-md-3"><h4>Subscription ID</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" name="" placeholder="Enter Subscription Id"></h6></div>-->
            <div class="col-md-3"><h4>Alias Name</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="AliasName" placeholder="Enter Storage Account Name"></h6></div>
            <div class="col-md-3"><h4>Account Name</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="AccountName" placeholder="Enter Account Name"></h6></div>
            <div class="col-md-3"><h4>Account Key</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="AccountKey" placeholder="Enter Account Key"></h6></div>   
            <div class="col-md-3"><h4>Endpoint Suffix</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Domain" placeholder="Enter EndpointSuffix"></h6></div> 
            <div class="col-md-3"><h4>Protocol</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Protocol" placeholder="Enter Protocol Key"></h6></div> 
                              
        </div>


    </div>

   
    <hr>
   
</div>
<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Account Type</th>
                <th>Alias Name</th>
                <th>Account Name</th>
                <th>Account Key</th>
                <th>Endpoint Suffix</th>
                <th>Protocol</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in blobDetailsList | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="onDetailsRowSelect(item)">
                <td><label>{{item.BlobType}}</label></td>
                <td><label>{{item.AliasName}}</label></td>
                <td><label>{{item.AccountName}}</label></td>
                <td><label>{{item.AccountKey}}</label></td>
                <td><label>{{item.Domain}}</label></td>
                <td><label>{{item.Protocol}}</label></td>
            </tr>
        </tbody>
        
    </table>
    <button ng-disabled="currentPage == 0" class="btnclickpage" ng-click="currentPage=currentPage-1">
        << 
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= blobDetailsList.length/pageSize - 1" class="btnclickpage" ng-click="currentPage=currentPage+1">
        >>
    </button>
</div>

  