﻿<div class="form-horizontal" ng-controller="">
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="input-group" ng-init="Options = [{ value: 'Upload file for verification to TeraDact API for Redaction',key:'Redact_To_Blob'},
                         { value: 'Upload Non-Redacted files',key:'Non_Redaction'},
                         { value: 'Upload files from Blob To Blob',key:'Blob_To_Blob'}]">
                    <span class="input-group-addon" id="basic-addon3">Select</span>

                    <select class="form-control" ng-change="OnSelectionchange(item)" ng-model="item.key" ng-options="item.value for item in Options" id="SelectSourceTarget" name="color">
                        <option value="" label="Select The Rules"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'/BlobStorage/Templates/LocalToBlob.Html'" ng-show="IsToDisplayLocalToBlob">
    </div>
    <div ng-include="'/BlobStorage/Templates/BlobtoBlob.Html'" ng-show="IsToDisplayBlobToBlob">
    </div>
</div>
