﻿<div class="form-horizontal">
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="form-horizontal">
                    <fieldset>
                        <legend>Database Settings</legend>
                        <div class="input-group" style="margin-top:25px">
                            <span class="input-group-addon ">Server Name</span>
                            <input type="text" class="form-control" ng-model="DatabaseServerName" placeholder="Server Name" />
                        </div>
                        <div class="input-group" style="margin-top:25px">
                            <span class="input-group-addon ">User Name</span>
                            <input type="text" class="form-control" ng-model="DatabaseUserName" placeholder="User Name" />
                        </div>
                        <div class="input-group" style="margin-top:10px">
                            <span class="input-group-addon ">Password</span>
                            <input type="text" class="form-control" ng-model="DatabasePassword" placeholder="Password" />
                        </div>
                    </fieldset>
                    <button id="sub" style="margin-top:10px" ng-click="SubmitDatabase(DatabaseServerName,DatabaseUserName,DatabasePassword)" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

