﻿
<div id="optionsBodyHeading">
    <button id="sub" style="margin-top:10px" ng-click="SubmitMyExchange(Ex)" class="btn btn-primary">Save</button>
    <!--EmailID, Password, Domain, EwsUrl, MailCount,Protocal-->
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-floppy-disk" ng-click="SubmitMyExchange(EmailID, Password, Domain,EwsUrl,MailCount,Protocal)"></span> <span style="font-size: 18px;"> Save</span></span>-->
    &nbsp&nbsp
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-remove" style="font-size: 16px;"></span> <span style="font-size: 18px;"> Discard</span></span>-->
    <button id="dis" style="margin-top:10px" ng-click="Discard(EmailID, Password, Domain, EwsUrl, MailCount,Protocal)" class="btn btn-primary">Discard</button>
     <!--<span id="optionBodyClose" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>-->
    <button id="dis" style="margin-top:10px;margin-left:11px" ng-click="GetView(ProductName)" class="btn btn-primary">View</button>
</div>
<div class="col-md-12" style="padding-left: 20px; padding-top: 20px; margin-top: 64px;">
    <h4 class="modal-title" style="font-weight: bolder">Exchange Settings</h4>
</div>
<div class="col-md-12" id="optionBodyBody">
    <div class="row">
          <div ng-hide="true" ng-model="SpFLTRSpFLTRbaseURL"></div>
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-3"><h4>Select Exchange Product</h4></div>
            <div class="col-md-8"><h6><select class="AdmininputFieldSize" id="ExchangeProduct" ng-model="ProductName"  ng-options="o.ProductName for o in options">
                <option value="ExchangeSettings">Exchange Online</option>
                                          <option value="ExchangeOnPremSettings">Exchange OnPrem</option>
                </select></h6></div>
            <div class="col-md-3"><h4>Exchange EmailID</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Ex.EmailID" placeholder="Email Id"></h6></div>
            <div class="col-md-3"><h4>Exchange Password</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="password" ng-model="Ex.Password" placeholder="Password"></h6></div>
            <div class="col-md-3"><h4>Exchange Domain</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Ex.Domain" placeholder="Domain"></h6></div>
            <div class="col-md-3"><h4>Exchange EwsUrl</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Ex.EwsUrl" placeholder="EwsUrl"></h6></div>
            <div class="col-md-3"><h4>Exchange MailCount</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Ex.MailCount" placeholder="MailCount"></h6></div>
            <div class="col-md-3"><h4>Exchange Protocal</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Ex.Protocal" placeholder="Protocal"></h6></div>
            <div class="col-md-3"><h4>RuleSet</h4></div> 
            <div class="col-md-8">
               
                    <div ng-dropdown-multiselect=""  options="example14data" selected-model="example14model" checkboxes="true" extra-settings="example14settings"></div>                    
</div>
        </div>
    </div>
</div>
 

