﻿
<div class="form-horizontal">
    <div class="container" style="margin-top: 20px;">
        <div class="row">           
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="form-horizontal">
                    <div class="container" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-horizontal" ng-app="app" ng-controller="RulesetsController">
                                    <fieldset>
                                        <legend>Rules and Roles Configurations</legend>
                                        <div class="input-group" style="margin-top:10px">
                                                <span class="input-group-addon" style="min-width: 135px">Redact Rulesets</span>
                                                <select class="form-control" ng-model="drpdpwnvalue" ng-options="item.name for item in RulesetList">
                                                    <option value="" label="Select The Rules"></option>
                                                </select>
                                            </div>
                                            <!--<div class="input-group" style="margin-top:10px">
                                                <span class="input-group-addon ">Redact Rulesets</span>
                                                <select class="form-control">
                                                    <option value="SSN">SSN</option>
                                                    <option value="Email">Email</option>
                                                    <option value="DNS">DNS</option>
                                                    <option value="Phone">Phone</option>
                                                </select>
                                            </div>-->
                                            <div class="input-group" style="margin-top:10px">
                                                <span class="input-group-addon" style="min-width: 135px">Roles</span>
                                                <select class="form-control" ng-model="drpdpwnvalue" ng-options="item.name for item in RolesList">
                                                    <option value="" label="Select The Roles"></option>
                                                </select>
                                                <!--<select class="form-control">
                                                    <option value="Admin">Admin</option>
                                                    <option value="Co-Admin">Co-Admin</option>
                                                    <option value="User">User</option>
                                                </select>-->
                                            </div>
</fieldset>
                                    <button id="sub" style="margin-top:10px" ng-click="Check(ServerName,DataBaseName,LoginID,Password)" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

  