﻿
<div id="optionsBodyHeading">
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-floppy-disk" ng-click="SubmitMyBlob(AccountKey,AccountName,BlobStorageContainerName)"></span> <span style="font-size: 18px;"> Save</span></span>-->
    <button id="sub" style="margin-top:10px" ng-click="SubmitMySharePoint(sp)" class="btn btn-primary">Save</button>
    <!--SPFileTransferServiceURL,SPAdminUserID,SPAdminPassword,AdminCentarlSiteURL,SharedDocumentLibName-->
    &nbsp&nbsp
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-remove" style="font-size: 16px;"></span> <span style="font-size: 18px;"> Discard</span></span>-->
    <button id="dis" style="margin-top:10px" ng-click="Discard(SPFileTransferServiceURL,SPAdminUserID,SPAdminPassword,AdminCentarlSiteURL,SharedDocumentLibName)" class="btn btn-primary">Discard</button>
    <button id="dis" style="margin-top:10px;margin-left:11px" ng-click="ViewSharePointDetails(SPProductType)" class="btn btn-primary">View</button>

</div>
<div class="col-md-12" style="padding-left: 20px; padding-top: 20px; margin-top: 64px;">
    <h4 class="modal-title" style="font-weight: bolder">SharePoint Online Settings</h4>
</div>
<div class="col-md-12" id="optionBodyBody">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-3"><h4> Product Type</h4></div>
            <div class="col-md-8">
                <h6>
                    <select  class="AdmininputFieldSize"  id="SharepointProduct" ng-model="SPProductType" ng-options="o.ProductName for o in options" >
                        <option value="SharePointSettings">Sharepoint Online</option>
                        <option value="SharePointOnPremSettings">Sharepoint OnPrem</option>
                    </select>
                </h6>
            </div>
            <div class="col-md-3"><h4> File Transfer ServiceURL</h4> </div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="sp.SPFileTransferServiceURL" placeholder="Enter ServiceURL"></h6></div>
            <div class="col-md-3"><h4> Admin UserID</h4> </div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="sp.SPAdminUserID" placeholder="Enter Admin User ID"></h6></div>
            <div class="col-md-3"> <h4>Admin Password</h4> </div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="password" ng-model="sp.SPAdminPassword" placeholder="Enter Admin Password"></h6></div>     
            <div class="col-md-3"><h4>Central Admin Site URL</h4> </div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="sp.AdminCentarlSiteURL" placeholder="Enter Central Admin Site URL"></h6></div>
            <div class="col-md-3"><h4>Shared Document Library</h4> </div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="sp.SharedDocumentLibraryName" placeholder="Enter SharedDocumentLibNameSite"></h6></div>
            <div class="col-md-3"><h4>Domain</h4> </div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="sp.Domain" placeholder="Enter Share Point Domain"></h6></div>

        </div>
    </div>
    <hr>

</div>
<!--<h4 style="font-weight: bold;">Role Configuration Settings</h4>
<div class="row">
    <table class="table table-striped" data-effect="fade" style="margin-top: 20px; margin-bottom: 0; font-size: 13px;">
        <thead style="background: #c5c5c5">
            <tr>
                <th style="width: 1px;"></th>
                <th>Products</th>
                <th>Owner</th>
                <th>Co-Owner</th>
                <th>User</th>
                <th>Role 4</th>
                <th>Role 5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>SSN</td>
                <td><input type="checkbox" checked></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td></td>
                <td>IP</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox" checked></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td></td>
                <td>Email</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox" checked></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td></td>
                <td>MAC</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox" checked></td>
            </tr>
        </tbody>
    </table>
</div>-->