﻿
<div id="optionsBodyHeading">
    <button id="sub" style="margin-top:10px" ng-click="SubmitMySMTP(ProductName, Port, Host, EnableSSLType,TargetName)" class="btn btn-primary">Save</button>
    <!--EmailID, Password, Domain, EwsUrl, MailCount,Protocal-->
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-floppy-disk" ng-click="SubmitMyExchange(EmailID, Password, Domain,EwsUrl,MailCount,Protocal)"></span> <span style="font-size: 18px;"> Save</span></span>-->
    &nbsp&nbsp
    <!--<span style="cursor: pointer;"><span class="glyphicon glyphicon-remove" style="font-size: 16px;"></span> <span style="font-size: 18px;"> Discard</span></span>-->
    <button id="dis" style="margin-top:10px" ng-click="Discard(ProductName, Port , Host, EnableSSLType,TargetName)" class="btn btn-primary">Discard</button>
    <!--<span id="optionBodyClose" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>-->
    <button id="dis" style="margin-top:10px;margin-left:11px" ng-click="GetView(ProductName)" class="btn btn-primary">View</button>
</div>
<div class="col-md-12" style="padding-left: 20px; padding-top: 20px; margin-top: 64px;">
    <h4 class="modal-title" style="font-weight: bolder">SMTP Settings</h4>
</div>
<div class="col-md-12" id="optionBodyBody">
    <div class="row">
        <div ng-hide="true" ng-model="SpFLTRSpFLTRbaseURL"></div>
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-3"><h4>Select Exchange Product</h4></div>
            <div class="col-md-8">
                <h6>
                    <select class="AdmininputFieldSize" id="ExchangeProduct" ng-model="ProductName" ng-options="o.ProductName for o in options">
                        <option value="ExchangeSettings">Exchange Online</option>
                        <option value="ExchangeOnPremSettings">Exchange OnPrem</option>
                    </select>
                </h6>
            </div>
            <div class="col-md-3"><h4>Port</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Port" placeholder="Port"></h6></div>
            <div class="col-md-3"><h4>Host</h4></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="Host" placeholder="Host"></h6></div>
            <div class="col-md-3"><h4>EnableSSL</h4></div>
            <div class="col-md-8"><h6>
                <input type="radio" ng-checked="Enabletrue()" ng-model="EnableSSLType"  > <span style="font-size: 17px;">True</span> &nbsp; 
                <input type="radio" ng-checked="Enablefalse()" ng-model="EnableSSLType"  > <span style="font-size: 17px;">False</span></h6></div>
            <div class="col-md-3"><h4>TargetName</h4><label style="font-size:smaller">(Optional for On-Prem)</label></div>
            <div class="col-md-8"><h6><input class="AdmininputFieldSize" type="text" ng-model="TargetName" placeholder="TargetName"></h6></div>

        </div>
    </div>
</div>
