﻿<script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
@*../Scripts/jquery-3.1.1.min.js*@
<SharePoint:ScriptLink Name="sp.js" runat="server" OnDemand="true" LoadAfterUI="true" Localizable="false" />
<meta name="WebPartPageExpansion" content="full" />
<!-- Add your CSS styles to the following file -->
<link rel="Stylesheet" type="text/css" href="../Content/prettify.css" />
<link rel="Stylesheet" type="text/css" href="../Content/App.css" />
<link rel="Stylesheet" type="text/css" href="../Content/jquery.multiselect.css" />
<link rel="stylesheet" href="../Content/bootstrap-example.css" type="text/css" />
<link rel="stylesheet" href="../Content/bootstrap-3.3.2.min.css" type="text/css" />
<!-- Add your JavaScript to the following file -->
<script type="text/javascript" src="../Scripts/bootstrap-3.3.2.min.js"></script>
<script type="text/javascript" src="../Scripts/CustomAction.js"></script>

<script type="text/javascript" src="../Scripts/Common.js"></script>
<script type="text/javascript" src="../Scripts/prettify.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.multiselect.js"></script>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
        <div class="row well">
            <div class="col-md-12" id="divFileOperationMode">

                <div class="row">

                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" style="/* width: 200px; */" name="postage" value="Move" id="dltorg"><label for="dltorg" style="font-weight: 100; margin-bottom: 0; margin-left: 10px;"><strong>Delete Original After Redaction</strong></label>
                    </div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="col-md-12" id="divSiteCollection">
                <div class="row">
                    <div class="col-md-6">
                        <h6><strong>Sites Collection</strong></h6>
                    </div>
                    <div class="col-md-6">
                        <select id="ddlSiteList"></select>
                    </div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="col-md-12" id="divTarget">
                <div class="row">
                    <div class="col-md-6">
                        <h6><strong>Document Library</strong></h6>
                    </div>
                    @*<%--<div class="col-md-6">
                        <h6>
                            <select id="ddlSiteList"></select>
                        </h6>
                    </div>--%>*@
                    <div class="col-md-6">

                        <select id="ddlDLList" multiple="multiple" class="multiselect"></select>

                        <input class="AdmininputFieldSize format-label" type="text"
                               id="RedactedDocumentLibraryName" onkeypress="return event.keyCode != 13;">
                    </div>
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>
            <div class="col-md-12" id="divRuleSet">
                <div class="row">
                    <div class="col-md-6">
                        <h6><strong>RuleSet</strong></h6>
                    </div>
                    <div class="col-md-6">
                        <select id="ddlRuleSet" multiple="multiple" class="multiselect"></select>
                    </div>
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" id="btnOK">Submit</button>
            </div>
        </div>
    </div>
</div>