﻿@model BlobStorageClientGUI.Models.AdminSubscription

@{
    ViewBag.Title = "AdminSubscription";
}

<h2>AdminSubscription</h2>
@*@section Scripts {
    <script type="text/javascript">
        $("#sub").click(function () {
            var txtVal = $("#txt").val();
            window.location = "@Url.Action("submit", "AdminSubscription")" +
                              "/" + txtVal;
        });
    </script>*@

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");

    <div class="form-horizontal">
        <fieldset>
            <legend>Login</legend>
            <div class="input-group">
                @Html.LabelFor(u => u._adminSubscriptionRequest._adminRequestAzure.SubscriptionID)
            </div>
            <div class="input-group">
                @Html.TextBoxFor(u => u._adminSubscriptionRequest._adminRequestAzure.SubscriptionID)
                @Html.ValidationMessageFor(u => u._adminSubscriptionRequest._adminRequestAzure.SubscriptionID)
            </div>
            <div class="input-group">
                @Html.LabelFor(u => u._adminSubscriptionRequest._adminRequestAzure.ResourceGroupName)
            </div>
            <div class="input-group">
                @Html.TextBoxFor(u => u._adminSubscriptionRequest._adminRequestAzure.ResourceGroupName)
                @Html.ValidationMessageFor(u => u._adminSubscriptionRequest._adminRequestAzure.ResourceGroupName)
                (If not Create)
            </div>
            <div class="input-group">
                @Html.LabelFor(u => u._adminSubscriptionRequest._adminRequestAzure.DataBaseName)
            </div>
            <div class="input-group">
                @Html.TextBoxFor(u => u._adminSubscriptionRequest._adminRequestAzure.DataBaseName)
                @Html.ValidationMessageFor(u => u._adminSubscriptionRequest._adminRequestAzure.DataBaseName)
                (If not Create)
            </div>
            <input id="sub" type="submit" value="Check" />
        </fieldset>
    </div>

}
    