﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js"></script>
    <script>
      $(function() {
        $(".meter > span").each(function() {
          $(this)
            .data("origWidth", $(this).width())
            .width(0)
            .animate({
              width: $(this).data("origWidth")
            }, 10);
        });
      });
      window.setTimeout(function () {
          $(".uploadStatusFailed").css({ "background": "red", "display": "block" });
        $(".uploadStatus").css("display","block");
      }, 10);
    </script>

    <style type="text/css">
        .meter {
            height: 20px;
            position: relative;
            -moz-border-radius: 25px;
            -webkit-border-radius: 25px;
            border-radius: 25px;
            -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
            -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
            box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
        }

            .meter > span {
                display: block;
                height: 100%;
                background-color: rgb(43,194,83);
                background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(84,240,84)) );
                background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
                -webkit-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
                -moz-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
                box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
                position: relative;
                overflow: hidden;
            }

                .meter > span:after, .animate > span > span {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
                    background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
                    z-index: 1;
                    -webkit-background-size: 50px 50px;
                    -moz-background-size: 50px 50px;
                    -webkit-animation: move 2s linear infinite;
                    overflow: hidden;
                }

               

        @-webkit-keyframes move {
            0% {
                background-position: 0 0;
            }

            100% {
                background-position: 50px 50px;
            }
        }
    </style>
</head>
<body style="background: rgba(128, 128, 128, 0.45);">
    <div class="modal-dialog" role="document" style="width: 100%;">
        <div class="modal-content">
            <div class="modal-header" style="background:#009688 ; color:white">
                <h5 class="modal-title" style="font-weight: bolder">Upload Status</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <table class="table table-bordered" data-effect="fade" ng-repeat="container in StorageContainerStatus" style="width:100%">
                        <thead>
                            <tr>
                                <th colspan="3"> <b>Container Name :</b>&nbsp;&nbsp;&nbsp;<span ng-bind="container.ContainerName"></span></th>
                            </tr>
                            <tr>
                                <th style="text-align: center; width: 570px;"><span style="font-size: 14px; font-weight: bold; ">FileName</span></th>
                                <th style="text-align: center;"><span style="font-size: 14px; font-weight: bold; ">OperationStatus</span></th>
                                <th style="text-align: center;"><span style="font-size: 14px; font-weight: bold; ">RedactionStatus</span></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr style="text-align: center;" ng-repeat="file in container.Blobs">
                                <td>
                                    <span ng-bind="file.FileName"></span>
                                </td>
                                <td>
                                    <!-- Success and failed both in the if else loop in each td -->
                                    <!-- Replace this code with the success image code -->
                                    <div ng-show="file.OperationStatus==1" class="meter">
                                        <span style="width: 100%"><status class="uploadStatus " style="font-size: 13px;position: relative;top: 1px;display: none;color: white;" >Success</status></span>
                                    </div>
                                    <!-- Replace this code with the success image code -->                                                           
                                    <!-- Replace this code with the failed image code -->
                                    <div ng-show="file.OperationStatus==0" class="meter">
                                        <span style="width: 100%"><status class="uploadStatusFailed" style="font-size: 13px;position: relative;top: 1px;display: none;color: white;">Failed</status></span>
                                    </div>
                                    <!-- Replace this code with the failed image code -->
                                </td>                                                
                                <td>
                                    <div ng-show="file.RedactionStatus==1" class="meter">
                                        <span class="uploadStatus" style="width: 100%"><status class="uploadStatus" style="font-size: 13px;position: relative;top: 1px;display: none;color: white;">Success</status></span>
                                    </div>                              
                                    <div ng-show="file.RedactionStatus==0" class="meter">
                                        <span style="width: 100%"><status class="uploadStatusFailed" style="font-size: 13px;position: relative;top: 1px;display: none;color: white;">Failed</status></span>
                                    </div>
                                </td>                          
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- 
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body style="background: rgba(128, 128, 128, 0.45);">
    <div class="modal-dialog" role="document" style="width: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-weight: bolder">Upload Status</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <table class="table table-bordered" data-effect="fade" ng-repeat="container in StorageContainerStatus" style="width:100%">
                        <thead>
                            <tr>
                                <th colspan="3"> <b>Container Name :</b>&nbsp;&nbsp;&nbsp;<span ng-bind="container.ContainerName"></span></th>
                            </tr>
                            <tr>
                                <th style="text-align: center; width: 570px;"><span style="font-size: 14px; font-weight: bold; ">FileName</span></th>
                                <th style="text-align: center;"><span style="font-size: 14px; font-weight: bold; ">OperationStatus</span></th>
                                <th style="text-align: center;"><span style="font-size: 14px; font-weight: bold; ">RedactionStatus</span></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr style="text-align: center;" ng-repeat="file in container.Blobs">
                                <td>
                                    <span ng-bind="file.FileName"></span>
                                </td>
                                <td>
                                    <div ng-show="file.OperationStatus==1"><img src="../Images/success.png" width="30" /></div>
                                    <div ng-show="file.OperationStatus==0"><img src="../Images/error.png" width="30" /></div>
                                </td>
                                <td>
                                    <div ng-show="file.RedactionStatus==1"><img src="../Images/success.png" width="30" /></div>
                                    <div ng-show="file.RedactionStatus==0"><img src="../Images/error.png" width="30" /></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<div class="modal-footer">
                        <button type="button" class="btn btn-primary">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
 -->