﻿<div class="form-horizontal" ng-controller="BlobOperationsController">
    <div class="container" style="margin-top: 20px;margin-left: 70px;">
        <div class="row">
            <div class="col-12">
                <div class="input-group" ng-init="Options = [{ value: 'Local to Blob',key:'Redact_To_Blob'},

                         { value: 'Blob To Blob',key:'Blob_To_Blob'}]">
                    
                    <span class="label label-primary form-control" id="basic-addon3" style="font-size:16px;width:50%;font-weight:normal;width: 171.018182px;background-color:#282D32">Upload Options</span>
                    <select style="width:50%;width: 175.818182px;" class="form-control" ng-change="OnSelectionchange(item)" ng-model="item.key" ng-options="item.value for item in Options" id="SelectSourceTarget" name="color">
                        <option value="">Select</option>
                        <option value="" label="Select The Rules"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div style="background-color: #FFFFFF;margin: 0px 70px;height:auto" ng-include="'/Templates/LocalToBLobNew.Html'" ng-show="IsToDisplayLocalToBlob">
    </div>
    <div style="background-color: #FFFFFF;margin: 0px 70px;height:auto" ng-include="'/Templates/BlobtoBlobNew.Html'" ng-show="IsToDisplayBlobToBlob">
    </div>
</div>
