﻿
<div class="col-md-12" id="source_to_destination" style="margin-top: 25px;">
    <div class="col-md-6">
        <div class="col-md-12" style="background: #d1e6e4;min-height: 500px;">
            <h4 style="margin: 20px 14px 0;font-weight: bold;">Source Storage Account </h4>

            <div class="col-md-12" style="margin-top: 20px;padding: 0;margin-left: 15px;">
                <select id="my_select" class="select-dropdown" ng-model="selectedSourceAlias" style="width: 95%; overflow: auto; padding: 10px;">
                  
                    <option style="margin-bottom: 6px;" ng-repeat="item in SourceAliasNames" ng-selected="item.Selected">{{item.AliasName}}</option>Source
                </select>
            </div>
            <!--<button class="btn btn-primary" style="margin-top:10px;" type="button" value="GetSourceContainerFiles" id="GtSourceContainers" ng-click="GetSourceContainers(BlobRequest,selectedSourceAlias)" class="btn btn-primary">GetSource ContainersList</button>-->
            <button id="sub" style="margin: 19px 17px 0;" value="GetSourceContainerFiles" ng-click="GetBlobSourceContainers(BlobRequest,selectedSourceAlias)" class="btn btn-primary">GetSource ContainersList</button>
            <hr style="border-color: #000; margin: 20px 14px;">
            <div ng-repeat="container in SourceContainerNames" style="margin-left: 12px;margin-bottom: 20px;">
                <span class="glyphicon glyphicon-chevron-right"></span><img src="Images/DB1.JPG" style="margin-left: 6px;" />
                <span style="cursor: pointer;font-weight: bolder;" ng-click="isCollapsed=!isCollapsed;GetContainerFiles(container,BlobRequest)">{{container.ContainerName}}</span>
                <div uib-collapse="isCollapsed" class="marjinlft40">
                    <div ng-repeat="file in container.Blobs" style="margin: 5px 0;">
                        <!--<span>{{file.FileName}}</span>-->
                        <input type="checkbox" ng-model="file.Selected" />&nbsp;<span ng-bind="file.FileName"></span>
                    </div>
                    <div ng-repeat="folder in container.BlobDirectoryList" style="margin: 5px 0;">
                        <!--<span>{{file.FileName}}</span>-->

                        <span class="glyphicon glyphicon-chevron-right"></span><img src="Images/Folder3.JPG" style="width: 20px; margin-left: 6px;" />
                        <span style="cursor: pointer;font-weight: bolder;" ng-click="isCollapsed=!isCollapsed;GetFolderFiles(folder,BlobRequest,container)"><span style="font-weight: bolder" ng-bind="folder.DirectoryName"></span></span>
                        <div style="margin-left:30px" ng-if="folder.BlobDirectoryList != null" folders="folder" blobvalue="BlobRequest" containerobj="container"  ></div>
                    </div>
                    
                </div>
            </div> 
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 destinationBlob" style="background: #d1e6e4; min-height: 500px;">
            <h4 style="margin: 20px 14px 0;font-weight: bold;">Destination Storage Account </h4><br>
            <h6 style="margin: 0 14px; font-weight: bold;">Select Target Storage Account Alias Names</h6>
            <div class="col-md-12" style="margin-top: 20px; padding: 0; margin-left: 15px;">
                <select id="my_select" class="select-dropdown" multiple ng-model="selectedTargetAlias" style="width: 95%; overflow: auto; min-height: 150px; padding: 10px;">
                    <option ng-repeat="item in TargetAliasNames" ng-selected="item.Selected">{{item.AliasName}} </option>Target
                </select>
            </div>
            <div class="col-md-12 input_fields_wrap" style="margin-top: 20px; padding: 0 16px;">
                <input type="text" class="form-control" style="border: 1px solid #a9a9a9; border-radius: 0;" ng-model="TargetContainerName" placeholder="TargetContainerName" />
            </div>
            <div>
                <!--<button class="btn btn-primary" style="margin-top:10px;" type="button" value="GetSourceContainerFiles" id="GtSourceContainers" ng-click="GetSourceContainers(BlobRequest,selectedSourceAlias)" class="btn btn-primary">GetSource ContainersList</button>-->
                <button id="sub" class="btn btn-primary" style="margin: 19px 17px 0;" type="button" value="GetSourceContainerFiles" ng-click="GetTargetContainers(BlobRequest,selectedTargetAlias)">GetTarget ContainersList</button>
                <button ng-disabled="EnableUploadB2B()" class="btn btn-primary" style="margin: 19px 17px 0;" type="button" value="UploadToBlob" id="Blob_To_Blob" ng-model="Disable" ng-click="BlobToBlobUpload(BlobRequest,selectedTargetAlias,TargetContainerName)">Upload Blob To Blob</button>
            </div>
            <hr style="border-color: #000; margin: 20px 14px;">
            <div ng-repeat="container in TargetContainerNames" style="margin-left: 12px;margin-bottom: 20px;">
                <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                <img src="Images/DB1.JPG" style="margin-left: 6px;" />
                <input type="checkbox" ng-model="container.Selected" ng-change="CheckonlyOneContainerTarget($index, TargetContainerNames)"/>
                <span style="cursor: pointer;">{{container.ContainerName}}</span>
                <div uib-collapse="isCollapsed" class="marjinlft40">
                    <div ng-repeat="file in container.Blobs" style="margin: 5px 0;">
                        <!--<span>{{file.FileName}}</span>-->
                        <!--<input type="checkbox" ng-model="file.Selected" />--><span ng-bind="file.FileName"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ng-click="isCollapsed=!isCollapsed;GetTargetContainerFiles(container,BlobRequest)"-->
