﻿<div ng-repeat="Infolder in folder.BlobDirectoryList" style="margin: 5px 0;">
    <span class="glyphicon glyphicon-chevron-right"></span><img src="Images/Folder3.JPG" style="width: 20px; margin-left: 6px;" />
    <span style="cursor: pointer;font-weight: bolder;" ng-click="isCollapsed=!isCollapsed;GetFolderFiles(Infolder,BlobRequest,container)"><span style="font-weight: bolder" ng-bind="Infolder.DirectoryName"></span></span>
    <div ng-if="Infolder.BlobDirectoryList != null || Infolder.Blobs" folder="Infolder" ng-include="'Templates/FolderTemplate.html'"></div>
</div>
<div ng-repeat="file in folder.Blobs" style="margin: 5px 0;">

    <input type="checkbox" ng-model="file.Selected" />&nbsp;<span ng-bind="file.FileName"></span>
</div>

