﻿<div>
    <button class="btn btn-primary" style="margin-top:10px;" type="button" value="UploadToBlob" id="Blob_To_Blob" ng-click="BlobToBlobUpload(BlobRequest)">Upload Blob To Blob</button>
</div>

<div ng-repeat="file in SourceFileNames">
    <input id="chcklistOfFiles" type="checkbox" ng-model="file.Selected" /> <label ng-bind="file.FileName"></label>
</div>