﻿<div class="col-md-12" style="margin-top: 25px;">
    <div class="col-md-6">
        <div class="col-md-12" style="background: #d1e6e4; min-height: 500px;">
            <h4 style="margin: 20px 14px 0; font-weight: bold;">Select Files</h4><br />
            <h6 style="margin: 0 14px; font-weight: bold;">Select one or more files together</h6>
            <div class="col-md-12" style="margin-top: 10px;padding: 0;margin-left: 15px;width: 95%;">
                <label class="btn btn-primary" style="width:100%">
                    <!--<input type="file" id="UploadFiles" multiple ng-model="UploadFilesName" name="UploadFiles"/>-->
                    <input type="file" id="UploadFiles" multiple />
                </label>
            </div>
            <br /><br /><br />
            <hr style="border-color: #000; margin: 20px 14px;">
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12" style="background: #d1e6e4; min-height: 500px;">
            <!--<h5 style="font-size:18px">
                <span class="help-block">
                    Select one or more files together
                </span>
            </h5>
            <label class="btn btn-primary" style="width:100%">-->
            <!--<input type="file" id="UploadFiles" multiple ng-model="UploadFilesName" name="UploadFiles"/>-->
            <!--<input type="file" id="UploadFiles" multiple />
            </label>
            <div class="clearfix">&nbsp;</div>-->
            <!--<div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>-->
            <h4 style="margin: 20px 14px 0; font-weight: bold;">Select Storage Account </h4><br />
            <h6 style="margin: 0 14px; font-weight: bold;">Storage Account Alias Names</h6>
            <div class="col-md-12" style="margin-top: 20px;padding: 0;margin-left: 14px;">
                <select id="my_select" class="form-control" multiple ng-model="selectedTargetAlias" style="width: 95%; overflow: auto; min-height: 150px; padding: 10px;">
                    <option ng-repeat="item in TargetAliasNames" ng-selected="item.Selected" >{{item.AliasName}} </option>Source
                </select>
            </div>
            <button class="btn btn-primary" style="margin: 19px 17px 0;" type="button" value="GetSourceContainerFiles" id="GtSourceContainers"  ng-click="GetTargetContainers(BlobRequest,selectedTargetAlias)">Get Containers List</button>
            <hr style="border-color: #000; margin: 20px 14px;">
            <div ng-repeat="container in TargetContainerNames" style="margin: 6px 14px;">
                <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                    <img src="Images/DB1.JPG" style="margin-left: 6px;" />
                <input type="checkbox" name="sourceContainer" ng-model="container.Selected" ng-change="CheckonlyOneContainerTarget($index, TargetContainerNames)" />&nbsp;&nbsp;<span style="font-weight: bolder;" ng-bind="container.ContainerName"></span>
            </div>
            <div id="Redact_To_Blob" style="margin-left: 18px;">
                <!--<button class="btn btn-primary" style="margin-top:25px;margin-bottom:25px;" ng-click="AddDestination()">Add More Accounts</button>-->
                <button   class="btn btn-primary" style="margin-top:25px;margin-bottom:25px;" type="button" value="UploadToBlob" id="Redact_To_Blob" ng-disabled="Disable2()" ng-click="UploadLocalContainers(1,UploadFileslocal)">UploadToBlob</button>
            </div>
        </div>
    </div>
</div>