﻿@model BlobStorageClientUI.Models.BlobViewModel
    @{
        ViewBag.Title = "BlobUploadView";
        Layout = "~/Views/Shared/_BlobFileUploadLayout.cshtml";
    }
<html>
<head>
    @*<script src="https://code.angularjs.org/1.2.25/angular.js" ></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
    @*data-require="jquery@*"*@
        @*<script src="~/Scripts/App/appFL.js"></script>*@
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="~/Scripts/lib/angular.js"></script>
        <script src="~/Scripts/lib/angular-toastr.min.js"></script>
        <script src="~/Scripts/lib/angular-toastr.tpls.js"></script>
        <link href="~/Content/angular-toastr.min.css" rel="stylesheet" />
        <link href="~/Content/Style.css" rel="stylesheet" />
        <script src="~/Scripts/lib/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/lib/bootstrap.min.js"></script>
        <script src="~/Scripts/lib/underscore.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
    
        <script src="~/scripts/App/App.js"></script>
        <script src="~/scripts/Controller/RulesetsController.js"></script>
       <script src="../Scripts/lib/bootstrap-3.3.2.min.js"></script>
       <script src="../Scripts/lib/jquery.multiselect.js"></script>
       <link href="../Content/bootstrap-3.3.2.min.css" rel="stylesheet" />
        <link href="../Content/jquery.multiselect.css" rel="stylesheet" />

        <script src="~/scripts/Controller/ExchangeController.js"></script>
        <script src="~/scripts/Controller/BlobStorageController.js"></script>
        <script src="~/scripts/Services/FileUploadService.js"></script>
        <script src="~/Scripts/Controller/RolesandRules.js"></script>
        <script src="~/Scripts/Controller/RolesSettings.js"></script>
        <script src="~/Scripts/Controller/ActiveRoles.js"></script>
        <script src="~/Scripts/Controller/SharePointController.js"></script>
        <script src="~/Scripts/lib/angular-route.js"></script>
        <script src="~/Scripts/lib/ui-bootstrap-tpls-2.3.0.js"></script>
        <script src="~/Scripts/Controller/ActiveDirectorySettings.js"></script>
        <script src="~/Scripts/Controller/AzureSQLSettingsController.js"></script>
        <script src="~/Scripts/Controller/SMTPController.js"></script>
        <script src="~/scripts/lib/ngDialog.js"></script>
        <link href="~/Content/Asserts/ng-dialog/ngDialog.css" rel="stylesheet" />
        <link href="~/Content/Asserts/ng-dialog/ngDialog-theme-plain.css" rel="stylesheet" />
        <link href="~/Content/Asserts/ng-dialog/ngDialog-theme-default.css" rel="stylesheet" />
        <script src="../Scripts/Controller/TabsController.js"></script>
    <script type="text/javascript">
        var FileContents = [];
    </script>
    </head>
    <body>
        <div class="container-fluid" ng-app="app">
            <div class="row">
                <nav class="navbar navbar-fixed-top" style="background: #585858">
                    <div class="container-fluid">
                        <div class="navbar-header" style="margin-left: 17px;">
                            <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                            </button>
                            <a class="navbar-brand" rel="home" href="#" title="Teradact" style="font-size: 24px; color: white; padding: 8px; margin-left: 0px;margin-top: 10px; height: 38px; float: right;">
                                <header>TeraDact</header>

                            </a>
                            <img src="~/Images/teradactlogo.jpg"  width="70" height="40" style="margin-top: 9px;">
                        </div>
                        <nav class="collapse navbar-collapse navbar-responsive-collapse">
                            <div class="container-fluid">
                                <ul class="nav navbar-nav navbar-right" style="margin: 0 35px; font-size: 22px;">
                                    <li style="border-right: 1px solid white;"><a href="#" style="color: white;"><span class="glyphicon glyphicon-bell"></span></a></li>
                                    <li style="border-right: 1px solid white;"><a href="#" style="color: white;"><span class="glyphicon glyphicon-search"></span></a></li>
                                    <li style="border-right: 1px solid white;"><a href="#" style="color: white;"><span class="glyphicon glyphicon-cog"></span></a></li>
                                    <li style="border-right: 1px solid white;"><a href="#" style="color: white;"><span class="glyphicon glyphicon-envelope"></span></a></li>
                                    <li style="border-right: 1px solid white;"><a href="#" style="color: white;"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                                    <li>
                                        <h4 style="color:white; margin: 6px 0 0 15px; padding: 0;">
                                            user@microsoft.com <span class="glyphicon glyphicon-user" style="position: absolute; top: 6px; right: -58px; font-size: 37px;"></span>
                                            <span style="display: block;margin-top: 5px;text-align: right;">Log Out</span>
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </nav>
                <div id="leftNavOptions">
                    <div id="leftNavHeading">
                        <h3 style="margin-top: 10px;">Admin Configurations</h3>
                    </div>
                    <header>
                        <nav>

                            <ul id="menu-main" class="nav nav-tabs nav-stacked">
                                <li><a href="#AzureSQLSettings">Azure SQL</a></li>
                                <li><a href="#ExchnageSettingsNew">Exchange Settings</a></li>
                                <li><a href="#BlobStorageSettingsNew">Blob Storage</a></li>
                                @*<li><a href="#SkypeForBussiness">SkypeForBussiness</a></li>*@

                                <li><a href="#SMTPSettings">SMTP Settings</a></li>
                                <li><a href="#SharePointOnline">Sharepoint Settings</a></li>
                                <li><a href="#ActiveDirectorySettings">ActiveDirectory Settings</a></li>
                                <li><a href="#ActiveDirectory">Rules&Roles</a></li>

                            </ul>
                        </nav>
                    </header>
                </div>
                <div class="optionsBody">
                    <!-- Add options partials here -->
                    <ng-view></ng-view>
                    <!-- Add options partials here -->
                </div>
            </div>
        </div>
    </body>
    </html>

