﻿

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/lib/angular.js"></script>
<script src="~/Scripts/lib/angular-toastr.min.js"></script>
<script src="~/Scripts/lib/angular-toastr.tpls.js"></script>
<link href="~/Content/angular-toastr.min.css" rel="stylesheet" />
<link href="~/Content/Style.css" rel="stylesheet" />
<script src="~/Scripts/lib/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/lib/bootstrap.min.js"></script>
<script src="~/Scripts/lib/underscore.js"></script>
<script src="~/scripts/App/App.js"></script>
@*<script src="~/scripts/Controller/BlobStorageController.js"></script>*@
<script src="~/scripts/Services/FileUploadService.js"></script>
<script src="~/scripts/Controller/BlobOperationsController.js"></script>
<script src="~/Scripts/lib/angular-route.js"></script>
<script src="~/Scripts/lib/ui-bootstrap-tpls-2.3.0.js"></script>
<script src="~/scripts/lib/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

<script src="~/scripts/lib/ngDialog.js"></script>
<link href="~/Content/Asserts/ng-dialog/ngDialog-theme-default.css" rel="stylesheet" />
<link href="~/Content/Asserts/ng-dialog/ngDialog-theme-plain.css" rel="stylesheet" />
<link href="~/Content/Asserts/ng-dialog/ngDialog.css" rel="stylesheet" />
<style>
    /*body{
        background-color:#2E80AB
    }
     .nav-color {
         background-color: #A23D45;
     }

     .navbar-default .navbar-nav > li > a {
         color: #FFF !important;
     }

         .navbar-default .navbar-nav > li > a:hover {
             color: #40dcd7 !important;
         }

     .navbar-default .navbar-collapse, .navbar-default .navbar-form {
         background-color: #337ab7 !important;
     }

     .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
         color: #40dcd7;
         background-color: #565656;
     }*/
</style>

<div class="container-fluid">
    <div class="row">
        @*<div class="col-md-12" style="background-color: #202428;">
                <h1 style="text-align:left;color;font-size:30px;color:#00ACC1"class="text-info">BlobStorage Upload</h1>
            </div>*@
        <nav class="navbar navbar-fixed-top" style="background: #585858;z-index: 10;">
            <div class="container-fluid">
                <div class="navbar-header" style="margin-left: 30px;">
                    <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" rel="home" href="#" title="Blob Storage" style="font-size: 30px; color: white; padding: 8px; margin-left: 0px;margin-top: 10px; height: 38px; float: right;">
                        <header>Teradact- BlobStorage </header>
                        
                    </a>
                    <img src="~/Images/teradactlogo.jpg" width="70" height="40" style="margin-top: 7px;">
                </div>
                <nav class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right" style="margin: 0 35px; font-size: 22px;">
                            <li style="border-right: 1px solid white;"><a href="#" style="color: white;"><span class="glyphicon glyphicon-bell"></span></a></li>
                            <li style="border-right: 1px solid white;"><a href="#" style="color: white;"><span class="glyphicon glyphicon-search"></span></a></li>
                            <li style="border-right: 1px solid white;"><a href="#" style="color: white;"><span class="glyphicon glyphicon-cog"></span></a></li>
                            <li style="border-right: 1px solid white;"><a href="#" style="color: white;"><span class="glyphicon glyphicon-envelope"></span></a></li>
                            @*<li style="border-right: 1px solid white;"><a href="#" style="color: white;"><span class="glyphicon glyphicon-question-sign"></span></a></li>*@
                            @*<li>
                                    <h4 style="color:white; margin: 6px 0 0 15px; padding: 0;">
                                        user@microsoft.com <span class="glyphicon glyphicon-user" style="position: absolute; top: 6px; right: -58px; font-size: 37px;"></span>
                                        <span style="display: block;margin-top: 5px;text-align: right;">Log Out</span>
                                    </h4>
                                </li>*@
                        </ul>
                    </div>
                </nav>
               
            </div>
        </nav>
    </div>
</div>
<div ng-app="app" style="margin-top: 75px;">

    @RenderBody()

</div>